@use "../abstracts/variables" as vars;

.project-overlay {
    position: fixed;
    inset: 0;
    background: rgba(204, 31, 31, 0.35);
    z-index: 900;
  }
  
  .project-panel {
    position: fixed;
    top: 50%;
    left: 50%;
  
    width: min(90vw, 720px);
    max-height: 100vh;
  
    background: #271717;
    padding: 2rem;
    border-radius: 16px;
  
    z-index: 1000;
    overflow-y: auto;
    color: rgb(187, 183, 183);
  
    /* Layout-Ziel, GSAP kümmert sich um Bewegung */
    transform: translate(-50%, -50%);
  }

  
  .project-panel__header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .project-panel__details{
    color: vars.$text-secondary;
  }
  
  /* Titel sitzt wirklich in der Mitte */
  .header-title {
    grid-column: 2;
    text-align: center;
    margin: 0;
  }
  
  /* Close ganz rechts */
  .close-btn {
    grid-column: 3;
    justify-self: end;
  
    background: transparent;
    border: none;
    padding: 0.4rem;
  
    font-size: 1.1rem;
    line-height: 1;
    color: rgba(255, 255, 255, 0.6);
  
    cursor: pointer;
    border-radius: 6px;
    transition: color 0.2s ease, background-color 0.2s ease;
  }
  
  .close-btn:hover {
    color: #fff;
    background: rgba(255, 255, 255, 0.08);
  }
  
  
  .project-panel__cta {
    margin-top: 2.5rem;
    text-align: center;
  }
  
  .case-btn {
    background: none;
    border: none;
  
    font-size: 0.95rem;
    color: rgba(255,255,255,0.7);
  
    cursor: pointer;
    transition: color 0.2s ease;
  }
  
  .case-btn:hover {
    color: #fff;
  }
  